<div class="login-container">
  <h2>התחברות / הרשמה</h2>
  <form [formGroup]="loginForm" (ngSubmit)="handleLoginOrRegister()">
    <label for="name">שם מלא:</label>
    <input id="name" formControlName="name" type="text" placeholder="שם מלא" required>

    <label for="email">אימייל:</label>
    <input id="email" formControlName="email" type="email" placeholder="example@email.com" required>

    <label for="password">סיסמה:</label>
    <input id="password" formControlName="password" type="password" placeholder="******" required>

    <button type="submit">כניסה / הרשמה</button>
  </form>
</div>
